* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ccc; 
  overflow-y:hidden;
}

/* nav on here  */
.navbar {
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.navbar .logo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar nav {
  margin-left: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ffcc00;
}

.navbar button {
  background: linear-gradient(45deg, #ff7300, #ffcc00);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar button:hover {
  background: linear-gradient(45deg, #ffcc00, #ff7300);
  transform: scale(1.1);
}

/* main */
.main-section {
  position: relative;   
  width: 100%;
  color: #fff;          
  margin: 0;             
  padding: 0;
}

.main-background {
  background: rgba(159, 159, 159, 0.354); /* 半透明黑色 */
  padding: 30px;
  border-radius: 10px;
  display: inline; 
  backdrop-filter: blur(10px); 
}

.bg-video {
  position: absolute; 
  width: 100%;
  height: 100vh;
  overflow:hidden;
  object-fit: cover;  
  z-index: -1;        
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 10px;
  z-index: 2;
}

.main-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 80%;
  line-height: 1.4;
}

.main-content .play-button {
  background-color: #5eb1f9;
  border: none;
  padding: 18px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

/* card */
.cards-section {
  position: absolute; 
  Top: 78vh; 
  left: 0; 
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  background-color: rgba(244, 244, 244, 0.2);
  z-index: 1;
}

.card {
  background-color: #fff;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease;
  margin-left:20px;
}

.card:hover {
  transform: translateY(-15px);
}

.card h2 {
  margin: 15px 0 8px 0;
  font-size: 1.2rem;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0 10px 15px 10px;
  line-height: 1.4;
}

.card button {
  background-color: #5eb1f9;
  border: none;
  padding: 8px 16px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
}
